<a href="https://colab.research.google.com/github/ryegunde/Titanic-Kaggle-Submission/blob/main/Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This Notebook is my entry to the Titanic Kaggle ML competition

In [ ]:
import numpy as np
import pandas as pd       #to get data from csv files
import matplotlib.pyplot as plt

First lets load our datasets in

In [ ]:
train = pd.read_csv('train.csv')
test = pd.read_csv('train.csv')

train.head()

Lets look at all the different features a sample could have

In [20]:
train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
print(train.Survived[2])

In [ ]:
updated_train = train.drop(['Cabin','Embarked'], axis=1)
updated_train

Okay, now lets try to get a better feel for the data that we are working with by using some good ole' data visualization

In [ ]:
for c in updated_train.columns:
  data = train[c]
  plt.bar(train.Survived, data)
  plt.title(c)
  plt.ylabel(c)
  plt.xlabel("Survived")
  plt.show()

Lets see how Sex impacted survival.

What percentage of the women survived?

In [ ]:
women = train.loc[train.Sex == 'female']["Survived"]  #Gets only the records corresponding to females and then gets only the surviors column
rate_women = sum(women)/len(women)

print("% of women who survived:", rate_women)

#Naive Bayesian Classifier

In [71]:
X = train.drop(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Cabin', 'Embarked'], axis=1)
y = train.Survived

X2 = train.drop(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Cabin', 'Embarked'], axis=1)

The features that seem to have the biggest impact on survivors are...
Fare, SibSp, and a little bit Parch

Okay now that we have an idea of what the data looks like let's start thinking about which models would would work best.

In [69]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score

NB = MultinomialNB()
NB.fit(X, y)

prediction = NB.predict(X)
print("Training error rate:", 1 - accuracy_score(y, prediction))

prediction = NB.predict(X2)

Training error rate: 0.38383838383838387

NameError: ignored

#Random Forest Classifer

In [83]:
from sklearn.ensemble import RandomForestClassifier

y = train["Survived"]

features = ["Pclass", "Sex", "SibSp", "Parch"]
X = pd.get_dummies(train[features])
X_test = pd.get_dummies(test[features])

#This will create a random forest with 100 decision trees
model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(X, y)
predictions = model.predict(X_test)

output = pd.DataFrame({'PassengerId': test.PassengerId, 'Survived': predictions})
output.to_csv('my_submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!

     PassengerId  Survived
0              1         0
1              2         1
2              3         1
3              4         1
4              5         0
..           ...       ...
886          887         0
887          888         1
888          889         0
889          890         0
890          891         0

[891 rows x 2 columns]